body{
    font-family: "Mulish", sans-serif;
}
.wrapper{
overflow: hidden;
margin: 0 auto;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.main {
margin: 0 auto;
width: 100%;
font-family: "Mulish", sans-serif;

}
.titlepage {
position: relative;
color: white;
padding-top: 265px;

}
.titlepage__background{
    width: 110%;
    height: 110%;
    background: url("../img/background__title.png") center;
    filter: blur(10px) brightness(0.7);
background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.titlepage-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.titlepage__wifi {
left: 40px;
top: -55px;
}
.wifi{
    width: 60px;
    height: 56px;
background: url("../img/wifi.svg") center no-repeat;
position: absolute;
}
.titlepage__crown{
left: 620px;
top: -45px;
}
.crown{
    width: 56px;
    height: 45px;
    background: url("../img/crown.svg") center no-repeat;
position: absolute;

}
.titlepage__banner {
right: -30px;
top: -30px;
}
.banner{
    height: 52px;
position: absolute;
display: flex;
transform: rotate(15deg);
font-size: 22px;
font-weight: bold;
}
.banner-particle{
width: 25px;
height: 18px;
background: url("../img/banner-particle.svg") center no-repeat;
margin-top: -10px;
}
.banner__content {
    color: #111111;
    padding: 12px 18px;
    border-radius: 100px;
background-color: #DCFF04;
}
.titlepage__arrow1 {
left: 80px;
top: 180px;
}
.arrow1{
    width: 217px;
    height: 113px;
    background: url("../img/arrow1.svg") center no-repeat;
position: absolute;

}
.titlepage__arrow2 {
right: 360px;
top: 300px;
}
.arrow2{
    width: 79px;
    height: 59px;
    background: url("../img/arrow2.svg") center no-repeat;
position: absolute;

}
.titlepage__glasses {
right: 90px;
top: 210px;
}
.glasses{
    width: 109px;
    height: 72px;
    background: url("../img/glasses.svg") center no-repeat;
position: absolute;

}
.title {

font-weight: bold;
}
.titlepage__title {
    font-size: 75px;
    margin: 0 auto 40px;
    text-align: center;
    width: 100%;
}
.titlepage__text {
font-size: 44px;
font-weight: 500;
font-style: italic;
margin: 0 auto 60px;
text-align: center;
width: 100%;
}
.button {

}
.titlepage__button {
position: relative;
margin: 5px auto 30px;
background-color: transparent;
padding-top: 0px;
width: 196px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 12px 22px;
}
.button__orange {
    background-color: #E65620;
}
.button__fiction {
    
}
.button__text-white {
text-align: center;
color: #fff;
display: inline-block;
}
.button__arrow-white-right {
    width: 24px;
    height: 24px;
background: url("../img/arrow_white_right.svg") center no-repeat;
display: inline-block;
margin-left: 10px;
}
.line__turquoise {
    width: 195px;
    height: 67px;
    background: url("../img/turquoise.svg") center no-repeat;
position: absolute;
background-size: contain;
top: -10px;
left: -5px;
}
.button__phone {
width: 78px;
height: 78px;
border-radius: 50%;
    background: linear-gradient(130.66deg, #F86F6F -8.28%, #E65620 89.4%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 120px;
    z-index: 3;
    cursor: pointer;
}
.phone__white{
    width: 36px;
    height: 36px;
    background: url("../img/phone.svg") center no-repeat;
}
.button__down{
    width: 30px;
    height: 44px;
    background: url("../img/arrow_white_bottom.svg") center no-repeat;
    background-size: contain;
    background-color: rgba(32, 29, 39, 0.5);
    margin: 40px auto 30px;
}
.scroller {
width: 100%;
overflow: hidden;
padding-top: 30px;
background-color: #fff;
}
.scroll-container {
width: 200%;
display: flex;
}
.container__item {
width: 50%;
display: flex;
justify-content: space-around;
background-color: #fff;
animation: scroll 20s linear infinite 
}
.leor {
width: 222px;
height: 68px;
background: url("../img/leor.svg") center no-repeat;
background-size: contain;
}
.meyt {
    width: 222px;
    height: 68px;
    background: url("../img/MEYT.svg") center no-repeat;
    background-size: contain;;
}
@keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
.description {
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 85px;
padding-bottom: 130px;
}
.description__title {
width: 100%;
font-size: 40px;
text-align: center;
margin-bottom: 60px;
}
.description__title span{
font-weight: 500;    
font-style: italic;

}
.descriptionleft {
width: 41%;
}
.descriptionleft__list {
    display: flex;
    flex-direction: column;
align-items: center;
}
.descriptionleft__number{
margin: 20px 15px;
font-size: 16px;
font-size: 22px;
}
.descriptionleft__title{
    margin: 20px 0;
    font-size: 16px;
    font-weight: 800;
}
.descriptionleft__content{
    height: auto;
    max-height: 0;
    transition: 0.5s;
    width: 100%;
    color: #11111100;
    &.active{
        max-height: 400px;
    color: #111111;
    }
}
.descriptionleft__item-actie{
    background-color: #22354E;
}
.descriptionleft__text{
}
.descriptionleft__item {
border-radius: 24px;
width: 100%;
background-color: #E3E3E3;
margin-bottom: 10px;
display: flex;
justify-content: left;
flex-wrap: wrap;
cursor: pointer;
}
.descriptionright {
    width: 49.5%;
    height: 437px;
    position: relative;
    margin-top: 70px;
}
.descriptionright__table {
    width: 418px;
    height: 236px;
    background: url("../img/table.png") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}
.descriptionright__sofa {
    width: 398px;
    height: 256px;
    background: url("../img/sofa.png") center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 20px;
}
.resident {
position: relative;
color: #fff;
padding: 70px 160px 80px 120px;
overflow: hidden;
}
.resident__content{
display: flex;
justify-content: space-between;
overflow: hidden;
}
.resident__background {
    width: 110%;
    height: 110%;
    position: absolute;
background: url("../img/background__resident.png");
background-size: cover;
top: 0;
left: 0;
filter: blur(10px) brightness(0.7);
z-index: -1;
}
.resident__content-text{
    width: 70%;
    margin-top: 15px;
}
.resident__text {
margin-bottom: 20px;
font-size: 22px;
}
.resident__title {
    font-size: 40px;
    margin-top: 20px;
    line-height: 1.25;
}
.resident__title span{
   font-weight: 500;
   font-style:italic;
    }
.resident__link {
 margin-top: 10px;
 margin-right: 40px;
}
.button__round{
    border-radius: 50%;
    border: 1px solid #fff;
display: flex;
justify-content: center;
align-items: center;
width: 150px;
height: 150px;
cursor: pointer;
}
.button__play {
    width: 40px;
    height: 40px;
    background: url("../img/play.svg") center no-repeat;
}
.offers {
    padding: 100px 120px 30px 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.offersleft {
    width: 28%;
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 24px;
    p:first-of-type{
        margin-bottom: 185px;
    }
}
.offersleft__title {
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 0px;
    line-height: 50px;
}
.offersleft__text {
    font-size: 16px;
    margin-bottom: 135px;
    margin-top: 0px;
}
.offersleft__crown {
    top: 290px;
    left: 10px;
    width: 72px;
    height: 57px;
    background: url("../img/offers-crown.svg") center no-repeat;
    position: absolute;
}
.offersleft__glasses {
    top: 350px;
    right: 0px;
    width: 137px;
    height: 90px;
    background: url("../img/offers-glasses.svg") center no-repeat;
    position: absolute;
}
.offersleft__arrow2 {
    bottom: 60px;
    left: 50px;
    width: 73px;
    height: 54px;
    background: url("../img/offers-arrow2.svg") center no-repeat;
    position: absolute;
}
.offersright {
width: 66%;
display: flex;
height: 650px;
justify-content: space-between;
color: #fff;
font-size: 22px;
font-weight: 600px;
}
.columt1 {
    width: 32%;
flex-direction: column;
justify-content: space-between;
}
.work {
    width: 225px;
    padding: 15px 15px 15px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.work__background{
background: url("../img/work.png") center no-repeat;
background-size: cover;
position: absolute;
top: 0;
left: 0;
width: 120%;
height: 120%;
filter: blur(10px) brightness(0.7);
z-index: -1;
}
.work__img {
    width: 30px;
    height: 30px;
    background: url("../img/monitor.svg") center no-repeat;
    background-size: contain;;
} 
.work__text {
    margin-top: 50px;
margin-bottom: 10px;
}
.print {
    width: 225px;
    padding: 10px 15px 15px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 15px;
    background-color: #22354E;
    cursor: pointer;
}
.print__background{

}
.print__img {
    width: 30px;
    height: 30px;
    background: url("../img/file.svg") center no-repeat;
    background-size: contain;;
}
.print__text {
    margin-top: 100px;
    margin-bottom: 0;
}
.game {
    width: 225px;
    padding: 20px 15px 15px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.game__background{
    background: url("../img/gameplace.png")center no-repeat;
    background-size: cover;
position: absolute;
top: 0;
left: 0;
width: 120%;
height: 120%;
filter: blur(10px) brightness(0.7);
transition: 0.2s;
z-index: -1;
}
.game__background:hover{
    filter: blur(0px) brightness(0.7);
}
.game__img {
    width: 30px;
    height: 30px;
    background: url("../img/game.svg") center no-repeat;
    background-size: contain;
}
.game__text {
    margin-top: 140px;
    margin-bottom: 0px;
}
.columt2 {
    width: 32%;
    display: flex;
    flex-direction: column;
}
.lounch {
    width: 225px;
    padding: 15px 15px 15px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.lounch__background{
    background: url("../img/restplace.png")center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    filter: blur(10px) brightness(0.5);
    transition: 0.2s;
    z-index: -1;
}
.lounch__img {
    width: 30px;
    height: 30px;
    background: url("../img/coach.svg") center no-repeat;
    background-size: contain;
}
.lounch__text {
    margin-top: 170px;
    margin-bottom: 0px;
}
.wash {
    width: 225px;
    padding: 20px 15px 15px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 15px;
    background-color: #22354E;
    cursor: pointer;
}
.wash__img {
    width: 30px;
    height: 30px;
    background: url("../img/shower.svg") center no-repeat;
    background-size: contain;
}
.wash__text {
    margin-top: 70px;
    margin-bottom: 0px;
}
.talk {
    width: 225px;
    padding: 20px 15px 15px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.talk__background{
    background: url("../img/restplace.png")center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    filter: blur(10px) brightness(0.7);
    transition: 0.2s;
    z-index: -1;
}
.talk__img {
    width: 30px;
    height: 30px;
    background: url("../img/people.svg") center no-repeat;
    background-size: contain;
}
.talk__text {
margin-top: 80px;
margin-bottom: 0px;
font-weight: 600;
}
.columt3 {
    width: 32%;
    display: flex;
    flex-direction: column;
}
.app {
    width: 225px;
    padding: 15px 15px 20px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 15px;
    background-color: #22354E;
    cursor: pointer;
}
.app__img {
    width: 30px;
    height: 30px;
    background: url("../img/smartphone.svg") center no-repeat;
    background-size: contain;
}
.app__text {
    margin-top: 220px;
    margin-bottom: 0px;
}
.support {
    width: 225px;
    padding: 15px 15px 15px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.support__background{
    background: url("../img/reception.png")center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    filter: blur(10px) brightness(0.7);
    transition: 0.2s;
    z-index: -1;
}
.support__img {
    width: 30px;
    height: 30px;
    background: url("../img/person.svg") center no-repeat;
    background-size: contain;
}
.support__text {
margin-top: 180px;
margin-bottom: 0px;
}
.blur{
    transition: 0.3s;
}
.blur__parent:hover .blur{
    filter: blur(0) brightness(0.7);
}
.gallery {
    padding: 0px 120px 160px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery__title {
font-size: 40px;
width: 100%;
text-align: center;
margin-bottom: 0;
margin-top: 0px;
}
.gallery__text {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
margin-bottom: 60px;
    color: #5B5B5B;
}
.gallery__map {
width: 70%;
height: 532px;
position: relative;
background: url("../img/map.png") center no-repeat;
background-size: contain;
margin-left: 30px;
margin-top: 10px;
}
.map__item {
width: 40px;
height: 40px;
background: url("../img/point.svg") center no-repeat;
border-radius: 50%;
position: absolute;
cursor: pointer;
&.active{
    width: 40px;
    height: 40px;
    background: url("../img/point-purple.svg") center no-repeat;
    border-radius: 50%;
    position: absolute;
}
}
.map__point-1{
    top: 160px;
    left: 100px;
}
.map__point-2 {
    top: 115px;
    left: 200px;
}
.map__point-3 {
    top: 80px;
    left: 290px;
}
.map__point-4 {
    top: 175px;
    left: 335px;
}
.map__point-5 {
    top: 100px;
    left: 415px;
}
.map__point-6 {
    top: 20px;
    left: 420px;
}
.map__point-7 {
    bottom: 190px;
    right: 280px;
}
.map__point-8 {
    bottom: 320px;
    right: 230px;
}
.map__point-9 {
    top: 120px;
    right: 170px;
}
.map__point-10 {
    top: 250px;
    right: 130px;
}
.map__content{
    transition: 0.3s;
    color: #ffffff00;
    background-color: #7369ff00;
    border-radius: 50px;
    padding: 15px 30px;
    width: 120px;
    margin-top: -80px;
    margin-left: -65px;
}
.map__content-active{
    transition: 0.3s;
    color: #ffffff;
    background-color: #7369ff;
    border-radius: 50px;
    padding: 15px 30px;
    width: 120px;
    margin-top: -80px;
    margin-left: -65px;
}
.zones {
    width: 23%;
    display: flex;
    flex-direction: column;
}
.zones__item {
    margin-bottom: 10px;
    background-color: #FAFAFA;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.zones__title {
margin-top: 5px;
}
.title {
}
.zones__content {
    max-height: 0;
    height: auto;
    transition: 0.3s;
    &.active{
        max-height: 200px;
    }
}
.reception__img {
    width: 262px;
    height: 172px;
    background: url("../img/gameplace.png") center no-repeat;
}
.zones__gamezone {
}
.zones__conversation {
}
.zones__reception {
}
.zones__gamezone {
}
.zones__conversation {
}
.zones__printzone {
}
.zones__room {
}
.zones__space {
}
.zones__shower {
}
.video {
    max-width: 1440;
    width: 100%;
    height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.video__loop {
position: absolute;
top: 0;
z-index: -1;
}
.video__button {
    box-shadow: 0px 0px 80px 8px rgba(0,0,0,0.75);
    background-color: rgba(40, 40, 40, 0.2);
}
.tarifes {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 70px;
margin-bottom: 180px;
}
.tarif__title {
    width: 100%;
font-size: 40px;
text-align: center;
margin-bottom: 20px;

}
.tarifes__text {
    width: 100%;
font-size: 20px;
color:#5B5B5B;
text-align: center;
margin-bottom: 50px;
}
.tarifes__menu {
width: 56%;
margin: 0 auto;
display: flex;
justify-content: space-evenly;
margin-bottom: 65px;
background-color: #FAFAFA;
}
.tarifes__button {
width: 32%;
padding: 14px 20px;
border: none;
text-align: center;
transition: 0.2s;
cursor: pointer;
}
.tarifes__gallery-show{
    width: 100%;
    overflow-x: hidden;
    
}
.gallery__box{
    width: 300.5%;
    display: flex;
    transition: 0.3s;
    justify-content: space-between;
}
.tarifes__gallery {
display: flex;
justify-content: space-between;
width: 33%;
align-items: stretch;
}
.gallery__box :nth-child(2n){
    justify-content: center;
    .gallery__column{
        margin: 0 10px;
    }

}
.gallery__column {
display: flex;
flex-direction: column;
width: 32%;
flex-wrap: wrap;
}
.gallery__column-lounge {
    background: url("../img/lounge.png") center top no-repeat;
padding: 15px 15px;
border-radius: 20px 20px 0px;
width: 360px;
height: 220px;
}
.gallery__column-imgtext {
    padding: 10px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 14px;
    margin-top: 0px;
    display: inline-block;
}
.gallery__column-title {
    margin: -15px 15px 15px;
font-size: 22px;
width: 100%;
}
.gallery__column-text {
color:#111111; opacity: 70%;
font-size: 14px;
margin-left: 50px;
margin-top: 5px;
width: 90%;
margin-bottom: 0px;
line-height: 150%;
}
.gallery__column-text::before {
    content: "";
   
    margin: 0px 5px -10px -30px;
    width: 24px;
    height: 24px;
background: url("../img/Check.svg") center no-repeat;
display: inline-block;
}
.gallery__column-tarife-box{
margin-top: auto;
padding: 30px 5px 10px;
}
.gallery__column-tarife {
    font-size: 16px;
    color:#111111; 
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
    margin-left: 15px;
}
.gallery__column-tarife span{
  font-weight: bold;
    font-size: 24px;
margin-bottom: 10px;
margin-top: 0px;
}
.gallery__column-button {
width: 50%;
display: flex;
align-items: center;
padding: 12px 22px;
margin: 10px auto 0px;
}
.gallery__column-openspace1 {
    background: url("../img/opnspace1.png") center top no-repeat;
    padding: 15px 15px;
    border-radius: 20px 20px 0px;
    width: 360px;
    height: 220px;
}
.gallery__column-openspace2 {
    background: url("../img/opnspace2.png") center top no-repeat;
    padding: 15px 15px;
    border-radius: 20px 20px 0px;
    width: 360px;
    height: 220px;
}
.gallery__column-3person {
    background: url("../img/3person.png") center top no-repeat;
    padding: 15px 15px;
    border-radius: 20px 20px 0px;
    width: 360px;
    height: 220px;
}
.gallery__column-separatezone {
    background: url("../img/separatezone.png") center top no-repeat;
    padding: 15px 15px;
    border-radius: 20px 20px 0px;
    width: 360px;
    height: 220px;
}
.gallery__column-5person {
    background: url("../img/5person.png") center top no-repeat;
    padding: 15px 15px;
    border-radius: 20px 20px 0px;
    width: 360px;
    height: 220px;
}
.gallery__column-7person {
    background: url("../img/7person.png") center top no-repeat;
    padding: 15px 15px;
    border-radius: 20px 20px 0px;
    width: 360px;
    height: 220px;
}
.gallery__column-8person {
    background: url("../img/5person.png") center top no-repeat;
    padding: 15px 15px;
    border-radius: 20px 20px 0px;
    width: 360px;
    height: 220px;
}
.bonus {
    display: flex;
 padding: 90px 120px;
 justify-content: space-between;
}
.bonusleft {
    width: 55%;
    position: relative;  
    margin-top: -10px;
}
.bonusleft__title {
    font-size: 40px;
    margin-bottom: 20px;
  line-height: 125%;
    font-weight: 800;
}
.bonusleft__text {
    font-size: 20px;
    line-height: 150%;
}
.bonusleft__button {
    padding: 14px 20px;
    width: 226px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.bonusleft__crown {
    top: -70px;
    right: 120px;
    width: 87px;
    height: 69px;
    background: url("../img/bonus__crown.svg") center no-repeat;
    background-size: cover;
}
.bonusleft__glasses {
    top: 24px;
    right: -2px;
    width: 120px;
    height: 79px;
    background: url("../img/bonus__glasses.svg") center no-repeat;

}
.bonusleft__arrow2 {
    bottom: 55px;
    right: 105px;
    background: url("../img/bonus__arrow2.svg") center no-repeat;
}
.bonusright {
    width: 41%;
    font-size: 22px;
    color: #fff;
    margin-top: -70px;
    line-height: 1.25;
}
.bonusright__blok1 {
    padding: 15px 15px;
    border-radius: 24px;
    background-color: rgba(34, 53, 78, 1);
    margin-bottom: 15px;
    cursor: pointer;
}
.bonusright__blok1-title {
margin-bottom: 20px;
margin-top: 0;
font-size: 22px;

}
.bonusright__blok2-title{
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 22px;
    cursor: pointer;
}
.bonusright__blok3-title{
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 22px;
    cursor: pointer;
}
.bonusright__blok1-text {
font-size: 16px;
margin: 0;
line-height: 1.5;
}
.bonusright__blok2 {
    padding: 25px 15px;
    border-radius: 24px;
background-color: rgba(125, 117, 146, 1);
margin-top: 0;
margin-bottom: 15px;
font-size: 22px;
}
.bonusright__blok3 {
    padding: 15px 15px;
    border-radius: 24px;
background-color:rgba(248, 111, 111, 1) ;
margin-top: 0;
font-size: 22px;
}

.map {
    position: relative;
}
.map-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-container {
    padding: 20px 40px 40px;
    border-radius: 10px;
    color: white;
    position: absolute;
    width: 330px;
    top: -585px;
    right: 0;
    background: url("../img/form__gradient.svg") center no-repeat;
}

.form-header{
    text-align: center;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}
.form__img {
    width: 140px;
    height: 150px;
    margin: 10px auto 0px; 
    background: url("../img/coworking.png") center no-repeat;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}
.form__button{
display: flex;
justify-content: space-evenly;
width: 53.8%;
padding: 15px 15px;
margin: 0px auto 0;
}
.form__lable{
position: absolute;
color: #ffffff83;
transition: 0.3s;
&.active{

}
}

input{
    background: transparent;
    margin-bottom: 30px;
}
input:-webkit-autofill {

}
input:focus {
    outline: none;
}
input[type="text"],
input[type="email"] {
    padding: 2px 10px 10px;
    margin-bottom: 40px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px rgba(255, 255, 255, 0.7176470588) solid;
    color: #ffffff;
    font-size: 16px;
}
.form__lable-name {
top: 0px;
left: 10px;
&.filled{
    top: -20px;
left: 0;
}
}
.form__lable-phone {
    top: 75px;
    left: 10px;
    &.filled{
        top: 55px;
        left: 0;
    }
}
.input__name:focus + .form__lable-name{
top: -20px;
left: 0;
}
.input__phone:focus + .form__lable-phone{
    top: 55px;
    left: 0;
}
.form__lable-email {
    top: 145px;
    left: 10px;
    &.filled{
        top: 125px;
    left: 0;
    }
}
.input__email:focus + .form__lable-email{
    top: 125px;
    left: 0;
}
.map__button{
    background-color: #22354E;
    margin-top: -20px;
    padding: 15px 20px;
}

.map__button:hover {
    background-color: #1a2535;
    
}
.footer {
position: relative;
color: #fff;
margin-top: 10px;
padding: 50px 120px 40px;

}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__background{
    width: 100%;
    height: 100%;
position: absolute;
background: url("../img/footer__backround.png") center no-repeat;
background-size: cover;
z-index: -1;
top: 0;
left: 0;
}
.footer__left {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.footer__phone{
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.footer__phone::before{
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/telephone.svg") center no-repeat;
    display: inline-block;
    margin-right: 10px;
}
.footer__email{
    margin-top: 0px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.footer__email::before{
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/email.svg") center no-repeat;
    display: inline-block;
    margin-right: 10px;
}
.footer__adress{
    margin-top: 0px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    line-height: 150%;
}
.footer__adress::before{
    content: "";
    width: 24px;
    height: 24px;
    background: url("../img/point-gray.svg") center no-repeat;
    display: inline-block;
    margin-right: 10px;
}
.footer__center {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 35%
}
.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item {

}
.footer__link {
    color: #ffffff7d;
    align-self: flex-end;
    margin-bottom: 5px;
    align-self: flex-start;
}
.footer__right {
width: 35%;
display: flex;
flex-direction: column;
}
.social {
    display: flex;
    width: 35.6%;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 60px;
}
.social__facebook {
    width: 24px;
    height: 24px;
background: url("../img/facebook.svg") center no-repeat;
cursor: pointer;
}
.social__intagram {
    width: 24px;
    height: 24px;
background: url("../img/Instagram_white.svg") center no-repeat;
cursor: pointer;
}
.social__youtube {
    width: 24px;
    height: 24px;
background: url("../img/Youtube_white.svg") center no-repeat;
cursor: pointer;
}
.social__telegram {
    width: 24px;
    height: 24px;
background: url("../img/Telegram_white.svg") center no-repeat;
cursor: pointer;
}
.footer__politics {
text-decoration: none;
color: #ffffff7d;
margin-bottom: 15px;
align-self: flex-end;
}
.footer__rights {
    text-decoration: none;
    color: #ffffff7d;
    justify-self: end;
    align-self: flex-end;
}
.top-auto{
    margin-top: auto;
}